<div class="wrapper">
  <mat-card class="form-login">
    <div class="form-login__error-text">
      <span class="text-error">err</span>
    </div>
      <mat-form-field class="login__input">
        <input matInput placeholder="Enter your Username" #login type="text">
      </mat-form-field>
      <mat-form-field class="login__input">
        <input matInput placeholder="Enter your password" #password>
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </mat-card>
</div>