.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login {
    min-width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__input {
    width: 90%;
}